numpy<2.0
numpy-stl
matplotlib
sympy >=1.3
cython
h5py
mpi4py
colorlog
colorama
cerberus
jinja2<3.0.0
pytest
pylint
pytest-pylint
typed-ast
pytest-cov
pytest-mpl
codecov
ipywidgets
nbval
markupsafe<2.1
pylbm
shapely
jupyter